.team-area {
	margin-top:10%;
}
.team-title
{
/* padding-left:45%; */

margin-top : 10%;
margin-left : 5%;
/* font-size: 300%; */
color: rgb(68, 84, 106);
 /* margin-bottom: 15%; */
 font-family: Calibri Light (Headings);
/* padding-bottom: 10%; */

text-align : center;
    /* color: rgb(68, 84, 106); */
    text-transform: uppercase;
    font-size: 30px;
}

.image-area
{
	top: 460%;
	left: 22%;
	margin-bottom : 0%;
	transform: translate(-25%, -70%);
	position: absolute;
	max-width: 1024px;
    width: 100%;
   padding:  4%;
  padding-top: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46%;
}
@media screen and (max-width: 467px) {
	.image-area {
	   padding-top: 800%;
	   padding-left:10%;
	   flex-direction: column;
	}
  }
.img-wrapper
{
	width: 250px;
	height: 300px;
	padding-left:2%;
	padding-top:5%;
	position: relative;
	overflow: hidden;
}

.img-wrapper:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 180%;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.3);
	z-index: 1;
	transform: skew(45deg);
	transition: .5s;
}

.img-wrapper:hover:before
{
	left: -180%;
}

.img-wrapper img
{
	height: 350px;
	width: 250px;
	filter: grayscale(100%);
	transition: 2s;
}
.img-wrapper:hover img
{
	filter: grayscale(0%);
	transform: scale(1.1);
}

.img-wrapper h2
{
	background: rgb(237, 125, 49);
  font-family: Calibri Light (Headings);
  font-size: 15px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding:10px 0;
	position: absolute;
	left:9px;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}


.img-wrapper p{
  background-color: rgb(237, 125, 49);
  text-transform: none;

}